@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&family=Square+Peg&display=swap');
body{
    font-family: 'Bebas Neue';
}


/* Navbar */

.navbar{
    background-color: #00018f !important;
}

.nav-img{
    margin-top: -10px;
    height: 45px !important;
}


/* Footer */

.footer{
    background-color:#151414;
    height: 8em !important;
}

.img-footer{
    height: 2em;
}

.footer{
    position: relative;
}

.text-footer{
    color: white;
    
}

#LCD29{
    font-size: 1.5em;
    position: absolute;
    bottom: 40px;
    left: 5px;
}

#instagram{
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 1em;
    bottom: 15px;
    right: 10px;
}

#email{
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 1em;
    bottom: 15px;
    right: 40px;
}

#copyright{
    position: absolute;
    bottom: 5px;
    left: 10px;
}


/* Carrousel */
.carrousel-img{
    height: 30em;
    width: 50em;
    object-fit: cover;
    object-position: center center;
}
.col-instagram{
    position: relative;
}

.text-white{
    color: white;
    text-shadow: 1px 1px black;
}

.carrousel-img{
    height: 25em;
}


/* Cuerpo */

.col-titulo{
    margin-top: -7em;
}

#titulo{
    font-size: 115px;

}