@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&family=Square+Peg&display=swap');
body{
    font-family: 'Bebas Neue';
}

/*Navbar*/

.navbar{
    background-color: #00018f !important;
}

.nav-img{
    margin-top: -10px;
    height: 45px !important;
}


/* Footer */

.footer{
    background-color:#151414;
    height: 8em !important;
}

.img-footer{
    height: 2em;
}

.footer{
    position: relative;
}

.text-footer{
    color: white;
    
}

#LCD29{
    font-size: 1.5em;
    position: absolute;
    bottom: 40px;
    left: 5px;
}

#instagram{
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 1em;
    bottom: 15px;
    right: 10px;
}

#email{
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 1em;
    bottom: 15px;
    right: 40px;
}

#copyright{
    position: absolute;
    bottom: 5px;
    left: 10px;
}


/*Carrousel*/
.carrousel-img{
    height: 30em;
    width: 50em;
    object-fit: cover;
    object-position: center center;
}
.col-instagram{
    position: relative;
}

.text-white{
    color: white;
    text-shadow: 1px 1px black;
}

.carrousel-img{
    height: 25em;
}


/*Cuerpo*/

.col-titulo{
    margin-top: -7.2em;
}

#titulo{
    font-size: 115px;

}

@media (max-width: 767px) {
    .col-titulo{
        margin-top: 0px;
    }

    #titulo{
        font-size: 57px;
    }
  }

        /*Noticias*/

        .row-noticias{
            padding: 2em;
        }

        .btn-readMore{
            background-color: #00018f;
            color: white;
        }

        .btn-readMore:hover{
            background-color: #00018f;
            color: white;
        }

        .btn-readMore:active{
            background-color: #00018f;
            color: white;
        }

        .img-news{
            height: 17em;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }

        .card{
            margin-top: 1em;
            
        }    
 
/*============================================PLANTILLA==============================================*/
         
.carta-box {
    margin: 25px;
    width: 200px;
    height: 250px;
    position: relative;
    perspective: 1000px;
    
  }
  
  .carta-box:hover .carta {
      transform: rotateY(180deg);
  }
  
  .carta {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    
  }
  
  .cara {
    position: absolute;
    backface-visibility: hidden;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .cara.detras {
    transform: rotateY(180deg);
    width: 200px;
    height: 250px;
  }

  .datos-card{
    position: absolute;
    left: 3em;
    top: 3em;
  }

  .carta-cara{
    height: 245px;
    width: 200px;
    object-fit: cover;
    object-position: center center;
    z-index: 10;
  }

  .circulo {
    width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #00018f;
    color: white;
    display: block;
    padding: auto;
    text-align: center;
}

.circulo-numero{
    position: absolute;
    top: 5px;
    right: 5px;
}

.circulo-escudo{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white !important;
}

.escudo-card{
    width: 20px;
    height: 20px;
}

.nombre-card{
    writing-mode: vertical-lr;
    position: absolute;
    color: white;
    font-size: 2em;
    left: -5px;
    top:10px
}

.franja-card{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 222px;
    margin: 0px !important;
    position: absolute;
    left: -92px;
    top: 102px;
}

.azul-oscuro{
    background-color: #00018f;
    height: 0.5em;
}

.azul{
    background-color: #2a67bb;
    height: 0.5em;
}
